<!Doctype>
<html>
<head>
<title>{%block title%}djangoblog{%endblock%}</title>
<meta charset='UTF-8'>

</head>
<body>
	<h1>a simple blog</h1>
	{% block content %}
      <div class="content">
      {% for blog in blogs %}
      		<h1>{{blog.title}}</h1> 
          <span>{{blog.timestamp|date:"Y-m-d h:i:s"}}</span>   <br> &nbsp  
          <div>{{blog.content|safe}}</div>
      {% endfor%}		
      </div>
	{% endblock %}
	{% block footer %}  
    	<p>Thanks for visiting my blog</p>
	{% endblock %}
</body>
</html>